@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.label{
    -fx-font-family: "Madimi One";
    -fx-font-size: 30px;
}

.button{
    -fx-font: 25px "Madimi One";
}

.titled-pane > .title
{
    -fx-background-color: #D5C9DF;
}

.titled-pane > .title
{
    -fx-font: 25px "Madimi One";
}

.tree-cell{
    -fx-background-color: #D5C9DF;
    -fx-font:  25px "Madimi One";
}

.vbox{
    -fx-background-color: #D5C9DF;
    -fx-font:  25px "Madimi One";
}




