@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.label{
    -fx-font-family: "Madimi One";
    -fx-font-size: 30px;
}

.tab-pane {
    -fx-font-family: "Madimi One";
}

.button{
    -fx-font: 25px "Madimi One";
}

.titled-pane > .title
{
    -fx-background-color: #D5C9DF;
        -fx-font: 25px "Madimi One";
}

.tree-cell{
    -fx-background-color: #D5C9DF;
    -fx-font:  25px "Madimi One";
}

.root {
    -fx-background-color: #D5C9DF;
}

.root, .anchor-pane, .vbox, .hbox, .border-pane, .grid-pane, .stack-pane, .flow-pane {
    -fx-background-color: #D5C9DF !important;
}

.tree-cell, #attachedComponents, #componentsTreeView, .titled-pane > .title {
    -fx-background-color: #D5C9DF !important;
}

#attachedComponents, #componentsVBox {
    -fx-background-color: #D5C9DF !important;
}

.titled-pane > .content {
    -fx-background-color: #D5C9DF !important;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #D5C9DF;
}

.tab {
    -fx-background-color: #BCA9CC;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

