@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.button{
    -fx-font-family: "Madimi One";
    -fx-font-size: 50px;
}

.label{
    -fx-font-family: "Madimi One";
    -fx-font-size: 200px;
}

.menu .label {
    -fx-font-family: "Madimi One";
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.tree-cell {
    -fx-background-color: #D5C9DF;
}

.menu-item{
    -fx-background-color: #D5C9DF;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: black ;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}