@font-face {
    font-family: 'madimi';
    src: url('madimi.ttf');
}

.text{
    -fx-font-family: 'madimi';
    -fx-font-size: 20px;
}

.button{
    -fx-font-family: 'madimi';
    -fx-font-size: 20px;
}